/* NAVBAR */
.nav-Link {
  color:black;
  list-style: none;
  font-size: 1.2rem;
  transition: transform 0.8s ease;
}

.nav-Link:hover {
  text-align: center;
  text-decoration: none;
  transform: scale(1.5);
  color: white;
}

.whole_navbar {
  background-color:#fedd3e!important;
  padding: 1.2rem;
  top: 0;
}
.nav_brand {
  color: white !important;
  font-size: 2rem;
}

/*HOME PAGE */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap");
.Home {
  background: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh !important;
  margin: 0px;
  font-family: "Baloo Bhaina 2", cursive;

  color: white;
}

#bg {
  width: 100%;
  height: 50% !important;
}

.home_text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  float: left;
  padding-top: 7rem;
  font-size: 2rem;
}

.home_text button {
  margin: 1rem;
  margin-top: 10rem;
  background-color: transparent;
  color: white;
  transition: transform 0.8s ease;
  width: 30.4rem;
  font-size: 1.2rem;
  border-radius: 0.8rem;
  border-width: 0.1rem;
  padding: 1rem;
}
.home_text button:hover {
  transform: scale(1.2);
  background-color: goldenrod;
  color: white;
}
@media only screen and (min-width: 768px) {
  .home_text {
    float: right;
  }
}

.arrow {
  position: absolute;
  /* top: 75%;
  left: 50%; */
  top: 35%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 5px solid #ffff;
  border-right: 5px solid #ffff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/*SIGN UP  AND LOGIN FORM*/
.signup input[type="email"],
.signup input[type="number"],
.signup input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
}

.signup input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.signup hr {
  border: 0.5px solid black;
  margin-bottom: 25px;
}

.signup button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signup button:hover {
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signupDiv {
  width: 50rem;
  margin-top: 2rem;
  padding: 3.5rem !important;
  background-color: #FFF0CF;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px #888888;
}

/*customer dashboard */
.mainDivCustomerDashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;

}
 .customerDashboard{
   display: flex;
   width: 100vw;
   flex-wrap: wrap;
   background-color: whitesmoke;
 }

 .pickupsection{
   width: 50vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10rem;
   margin-bottom: 10rem;
 }

 .vendorsection{
   width: 50vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10rem;
   margin-bottom: 10rem;
 }

 .vendorsection div, .pickupsection div{
  border-style: solid;
  width: 20rem;
  height: 20rem;
  border-width: 0.05rem;
  box-shadow: 1px 1px 1px 1px #888888;
  transition: transform 0.8s ease;
 }
 .vendorsection div:hover, .pickupsection div:hover{
  transform: scale(1.1);

 }

 .vendorsection button, .pickupsection button{
   border-radius: 1rem;
   padding:1rem;
   background-color: gold;
   border-width: 0.05rem;
   width: 25rem;
   transition: transform 0.8s ease;
 }

 .vendorsection button:hover, .pickupsection button:hover{
   transform: scale(1.2);
 }