/* NAVBAR */
.nav-Link {
  color: black;
  list-style: none;
  font-size: 0.6rem;
  transition: transform 0.8s ease;
}

.nav-Link:hover {
  text-align: center;
  text-decoration: none;
  transform: scale(1.5);
  color: white;
}

.whole_navbar {
  background-color: #fedd3e !important;
  padding: 0.6rem;
  top: 0;
}
.nav_brand {
  color: white !important;
  font-size: 1rem;
}

/*HOME PAGE */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap");
.Home {
  background: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh !important;
  margin: 0px;
  font-family: "Baloo Bhaina 2", cursive;

  color: white;
}
#bg {
  width: 100%;
  height: 50% !important;
}

.home_text {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  float: left;
  padding-top: 7rem;
  font-size: 2rem;
}

.home_text button {
  margin: 1rem;
  margin-top: 10rem;
  background-color: transparent;
  color: white;
  transition: transform 0.8s ease;
  width: 30.4rem;
  font-size: 1.2rem;
  border-radius: 0.8rem;
  border-width: 0.1rem;
  padding: 1rem;
}
.home_text button:hover {
  transform: scale(1.2);
  background-color: goldenrod;
  color: white;
}
@media screen and (min-width: 768px) {
  .home_text {
    float: right !important;
  }
}
@media screen and (max-width: 500px) {
  .arrow {
    left: 30% !important;
    position: relative !important;
  }
}

.arrow {
  position: absolute;
  top: 35%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 5px solid #ffff;
  border-right: 5px solid #ffff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/*SIGN UP  AND LOGIN FORM*/
.signup input[type="email"],
.signup input[type="number"],
.signup input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
}

.signup input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.signup hr {
  border: 0.5px solid black;
  margin-bottom: 25px;
}

.signup button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signup button:hover {
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signupDiv {
  width: 50rem;
  margin-top: 2rem;
  padding: 3.5rem !important;
  background-color: #fff0cf;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px #888888;
}

/*customer dashboard */
.mainDivCustomerDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.mainDivCustomerDashboard h2 {
  color: black;
  padding: 2rem;
  height: 10rem;
}
.customerDashboard {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  background-color: whitesmoke;
}

.pickupsection {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.vendorsection {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.vendorsection div,
.pickupsection div {
  border-style: solid;
  width: 25rem;
  height: 12rem;
  border-width: 0rem;

  transition: transform 0.8s ease;
}
.vendorsection div:hover,
.pickupsection div:hover {
  transform: scale(1.1);
}

.vendorsection button,
.pickupsection button {
  border-radius: 1rem;
  padding: 1rem;
  background-color: gold;
  border-width: 0.05rem;
  width: 25rem;
  transition: transform 0.8s ease;
}

.vendorsection button:hover,
.pickupsection button:hover {
  transform: scale(1.2);
  color: white;
  font-weight: 900;
}

/*Delivery form*/
.deliveryform {
  margin-top: 10rem;
  width: 45rem;
  padding: 1.5rem;
  box-shadow: 2px 2px 20px 2px grey;
  height: auto;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
}
.deliveryform1 {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 40rem;
  padding: 1rem;
  padding-right: 2.9rem;
}

.deliveryform1 input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.deliveryform1 label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.deliveryform1 input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.deliveryform1 input[type="submit"]:hover {
  background-color: #45a049;
}

.deliveryform1 .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.totalDeliveryForm {
  padding: 1rem;
  font-weight: 1200;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9d99ff;
  font-size: 1.3rem;
}

.submitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8rem;
  margin-top: 1rem;
}

/*SUCCESSFUL DELIVERY */

.successfulDelivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh !important;
  margin: 0px;
  font-family: "Baloo Bhaina 2", cursive;

  color: white;
}
