/* NAVBAR */
.nav-Link{
  color: black;
  list-style: none;
}

.nav-Link:hover{
 text-decoration: none;

}

.whole_navbar{
  background-color: yellow !important;
  padding: 1.2rem;
}
 .nav_brand{
   color: black !important;
 }

 .toggle_controls{
   color: black  !important;
 }
 #toggle_controls{
   color: black !important;
 }